---
import projects from '@/data/projects'
import ProjectMiniItem from '@/shared/items/ProjectMiniItem.astro'
import Header, {
  type Props as HeaderProps,
} from '@/shared/typography/Header.astro'
import { TypographyType } from '@/shared/typography/schema'
import Icon, { type Props as IconProps } from '@/shared/icon/Icon.astro'
import COLORS from '@/theme/colors'
import Link from '@/shared/link/Link.astro'
import { ProjectLevel } from '@/models/project'

const projectHeader: HeaderProps = {
  title: 'Projects',
  type: TypographyType.SECONDARY,
  format: {
    noWrap: true,
    fontSize: '1rem',
  },
}

const projectHeaderIcon: IconProps = {
  name: 'project',
  color: COLORS.DARK_GREY,
}
---

<div class='container'>
  <div class='container-header'>
    <Icon {...projectHeaderIcon} />
    <Link href='/projects'>
      <Header {...projectHeader} />
    </Link>
  </div>
  <div class='container-projects'>
    {
      projects.map((project) => {
        if (project.level !== ProjectLevel.PRIMARY) return

        return (
          <ProjectMiniItem
            name={project.name}
            type={project.type}
            links={project.links}
          />
        )
      })
    }
  </div>
</div>

<style>
  .container,
  .container-projects {
    display: grid;
    gap: 1rem;
  }

  .container-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .container-projects {
    @media screen and (max-width: 830px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
</style>
