---
import Avatar, {
  AvatarShape,
  type Props as AvatarProps,
} from '@/shared/Avatar.astro'
import { TypographyType } from '@/shared/typography/schema'

import Heroe, {
  type Props as HeroeProps,
  SLOTS,
} from '@/shared/layouts/Heroe.astro'
import { getDocFromLocal, getImageBrandFromLocal } from '@/services/dataGetter'

import LinkIcon, {
  type Props as LinkIconProps,
} from '@/shared/link/LinkIcon.astro'
import { ICONS, IconsMapperName } from '@/constants/Icon'

import { COLOR } from '@/theme/colors'

const heroeProps: HeroeProps = {
  header: {
    title:
      'Node.js Expert, Go Developer Advocate, Creator, and Lifelong Innovator',
    type: TypographyType.PRIMARY,
    style: {
      lineHeight: '4rem',
    }
  },
  paragraph: {
    title:
      "🤘🏻 Hello! My name is Esneider Ospina, Node.js Expert, Go Developer Advocate, and Lifelong Innovator based in Colombia. I created this website as a place to document my journey as I learn new things and share them with you. While I haven’t published any blog posts yet, stay tuned because they're coming soon! I have a passion for learning and creating new ways to solve problems. When I'm not coding, I enjoy playing sports like handball and volleyball. I hope that my future content will help you solve a problem or learn something new.",
    type: TypographyType.PRIMARY,
    style: {
      textAlign: 'justify',
    },
  },
}

const avatarProps: AvatarProps = {
  src: await getImageBrandFromLocal('sneuder'),
  alt: 'Sneuder',
  size: 84,
  format: {
    shape: AvatarShape.SQUARE,
  },
}

const linksIconsCollectionProps: LinkIconProps[] = [
  {
    icon: {
      name: ICONS.WEB,
    },
    link: {
      href: await getDocFromLocal('Esneider_Ospina'),
      newTab: true,
    },
    paragraph: {
      title: 'Resume',
      type: TypographyType.SECONDARY,
      style: {
        fontWeight: '600',
        color: COLOR.LIGHT_GREY,
      },
    },
  },
  {
    icon: {
      name: ICONS.LINKEDIN,
    },
    link: {
      href: 'https://www.linkedin.com/in/esneider-fullstackdeveloper/',
      newTab: true,
    },
    paragraph: {
      title: IconsMapperName[ICONS.LINKEDIN],
      type: TypographyType.SECONDARY,
      style: {
        fontWeight: '600',
        color: COLOR.LIGHT_GREY,
      },
    },
  },
  {
    icon: {
      name: ICONS.GITHUB,
    },
    link: {
      href: 'https://github.com/sneuder',
      newTab: true,
    },
    paragraph: {
      title: IconsMapperName[ICONS.GITHUB],
      type: TypographyType.SECONDARY,
      style: {
        fontWeight: '600',
        color: COLOR.LIGHT_GREY,
      },
    },
  },
]


---

<Heroe {...heroeProps}>
  <Avatar {...avatarProps} slot={SLOTS.BEFORE} />
  <div slot={SLOTS.AFTER}>
    {
      linksIconsCollectionProps.map((linkIconProps) => (
        <LinkIcon {...linkIconProps} />
      ))
    }
  </div>
</Heroe>

<style>
  div {
    margin-top: -1.8rem;
    display: flex;
    gap: 1.25rem;
  }
</style>
