---
import Footer from "./Footer.astro"
import LineDivider from "./LineDivider.astro"
---

<div class='container-page'>
  <div>
    <slot />
    <LineDivider />
    <Footer />
  </div>
</div>

<style>
  .container-page {
    display: flex;
    justify-content: center;
  }

  .container-page div {
    width: 100%;
    max-width: 1000px;
    display: grid;
    gap: 3rem;
  }
</style>
