---

---

<div class='container-page'>
  <div>
    <slot />
  </div>
</div>

<style>
  .container-page {
    display: flex;
    justify-content: center;
  }

  .container-page div {
    width: 100%;
    max-width: 1000px;
  }
</style>
