---
import { COLOR } from '@/theme/colors'
import Paragraph, {
  type Props as ParagraphProps,
} from './typography/Paragraph.astro'
import { TypographyType } from './typography/schema'

interface NavItem {
  name: string
  href: string
}

export interface Props {
  navItems: NavItem[]
}

const { navItems } = Astro.props
---

<div class='container-navbar'>
  <nav>
    <div class='container-navbar-items'>
      {
        navItems.map((item) => {
          const paragraphProps: ParagraphProps = {
            title: item.name,
            type: TypographyType.TERTIARY,
            style: {
              fontSize: '0.7rem',
              color: COLOR.DARK_GREY,
            },
          }

          return (
            <a href={item.href}>
              <Paragraph {...paragraphProps} />
            </a>
          )
        })
      }
    </div>
  </nav>
</div>

<style>
  .container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    position: sticky;
    top: 1rem;
    z-index: 10;
  }

  nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    height: 30px;
  }

  .container-navbar-items {
    display: flex;
    gap: 1.5rem;
  }
</style>
