---
interface Props {
  title: string
}

const { title } = Astro.props
---

<div>{title}</div>

<style>
  div {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #27272a;
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
  }
</style>
