---
import COLORS from '@/theme/colors'

interface Props {
  padding?: string
}

const { padding = '1rem' } = Astro.props
---

<div>
  <slot />
</div>

<style
  define:vars={{
    borderColor: COLORS.LIGHTER_GREY,
    padding,
  }}
>
  div {
    border: var(--borderColor) 1px solid;
    padding: var(--padding);
    border-radius: 0.5rem;
  }
</style>
