---
import COLORS from '@/theme/colors'

interface Props {
  padding?: string,
  backgroundColor?: string
}

const { padding = '1rem', backgroundColor = COLORS.WHITE} = Astro.props
---

<div>
  <slot />
</div>

<style
  define:vars={{
    borderColor: COLORS.LIGHTER_GREY,
    padding,
    backgroundColor,
  }}
>
  div {
    border: var(--borderColor) 1px solid;
    padding: var(--padding);
    background-color: var(--backgroundColor);
    border-radius: 0.5rem;
  }
</style>
