---
import projects from '@/data/projects'
import { ProjectLevel } from '@/models/project'
import ProjectItem from '@/shared/items/ProjectItem.astro'
---

<main>
  {
    projects.map((project) => {
      if (project.level != ProjectLevel.PRIMARY) return
      return  <ProjectItem {...project} />
    })
  }
</main>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
</style>
