---
import COLORS from '@/theme/colors'
import {
  type BasicProps,
  type CollectionStyles,
  TypographyType,
  type CollectionStyle,
} from './schema'

export interface Props extends BasicProps {}

const { title, type, style } = Astro.props

const collectionStyles: CollectionStyles = {
  [TypographyType.PRIMARY]: {
    lineHeight: '3.5rem',
    fontSize: '3rem',
    color: COLORS.DARK_GREY,
  },
  [TypographyType.SECONDARY]: {
    lineHeight: '1.5rem',
    fontSize: '1.5rem',
    color: COLORS.GREY,
  },
  [TypographyType.TERTIARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
  [TypographyType.QUATERNARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
}

const selectedStyle = collectionStyles[type] as CollectionStyle
---

{type === TypographyType.PRIMARY && <h1 style={{ ...style }}>{title}</h1>}
{type === TypographyType.SECONDARY && <h2 style={{ ...style }}>{title}</h2>}
{type === TypographyType.TERTIARY && <h3 style={{ ...style }}>{title}</h3>}
{type === TypographyType.QUATERNARY && <h4 style={{ ...style }}>{title}</h4>}

<style
  define:vars={{
    lineHeight: selectedStyle.lineHeight,
    fontSize: selectedStyle.fontSize,
    color: selectedStyle.color,
  }}
>
  h1,
  h2,
  h3 {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    color: var(--color);
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
</style>
