---
import COLORS from '@/theme/colors'
import {
  type BasicProps,
  type CollectionStyles,
  TypographyType,
  type CollectionStyle,
} from './schema'

export interface Props extends BasicProps {}

const { title, type, format } = Astro.props

const collectionStyles: CollectionStyles = {
  [TypographyType.PRIMARY]: {
    lineHeight: '3.5rem',
    fontSize: '3rem',
    color: COLORS.DARK_GREY,
  },
  [TypographyType.SECONDARY]: {
    lineHeight: '1.5rem',
    fontSize: '1.25rem',
    color: COLORS.GREY,
  },
  [TypographyType.TERTIARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
  [TypographyType.QUATERNARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
}

const selectedStyle = collectionStyles[type] as CollectionStyle
const nowrap = !!format?.noWrap
---

{TypographyType.PRIMARY === type && <h1 class:list={[{ nowrap }]}>{title}</h1>}
{
  TypographyType.SECONDARY === type && (
    <h2 class:list={[{ nowrap }]}>{title}</h2>
  )
}
{TypographyType.TERTIARY === type && <h3 class:list={[{ nowrap }]}>{title}</h3>}
{
  TypographyType.QUATERNARY === type && (
    <h4 class:list={[{ nowrap }]}>{title}</h4>
  )
}

<style
  define:vars={{
    lineHeight: selectedStyle.lineHeight,
    fontSize: selectedStyle.fontSize,
    color: selectedStyle.color,
  }}
>
  h1,
  h2,
  h3 {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    color: var(--color);
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  .nowrap {
    text-wrap: nowrap;
  }
</style>
