---
import { type BasicProps, TypographyType } from './schema'
import COLORS from '@/theme/colors'

export interface Props extends BasicProps {
  format?: {
    elipsis?: {
      lines: number
    }
  }
}

interface CollectionStyle {
  lineHeight: string
  fontSize: string
  color: string
}

type CollectionStyles = {
  [key in TypographyType]?: CollectionStyle
}

const { title, type, format } = Astro.props

const collectionStyles: CollectionStyles = {
  [TypographyType.PRIMARY]: {
    lineHeight: '1.7rem',
    fontSize: '1rem',
    color: '#000000',
  },
  [TypographyType.SECONDARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
  [TypographyType.TERTIARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.LIGHT_GREY,
  },
}

const selectedStyle = collectionStyles[type] as CollectionStyle

const addElipsis = !!format?.elipsis?.lines
---

<p class:list={['paragraph', { elipsis: addElipsis }]}>
  {title}
</p>

<style
  define:vars={{
    lineHeight: selectedStyle.lineHeight,
    fontSize: selectedStyle.fontSize,
    color: selectedStyle.color,
    elipsisLines: format?.elipsis?.lines,
  }}
>
  .paragraph {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    color: var(--color);
  }

  .elipsis {
    display: -webkit-box;
    -webkit-line-clamp: var(--elipsisLines);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
