---
import {
  type BasicProps,
  TypographyType,
  type CollectionStyles,
  type CollectionStyle,
} from './schema'
import COLORS from '@/theme/colors'

export interface Props extends BasicProps {}

const { title, type, format } = Astro.props

const collectionStyles: CollectionStyles = {
  [TypographyType.PRIMARY]: {
    lineHeight: '1.7rem',
    fontSize: '1rem',
    color: COLORS.GREY,
  },
  [TypographyType.SECONDARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
  [TypographyType.TERTIARY]: {
    lineHeight: '1.2rem',
    fontSize: '0.8rem',
    color: COLORS.LIGHT_GREY,
  },
}

const selectedStyle = collectionStyles[type] as CollectionStyle

const formats = {
  elipsis: !!format?.elipsis?.lines,
  nowrap: !!format?.noWrap,
  justified: !!format?.justified,
  bold: !!format?.bold
}
---

<p class:list={[{ ...formats }]}>
  {title}
</p>

<style
  define:vars={{
    lineHeight: selectedStyle.lineHeight,
    fontSize: selectedStyle.fontSize,
    color: selectedStyle.color,
    elipsisLines: format?.elipsis?.lines,
  }}
>
  p {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    color: var(--color);
    width: fit-content;
  }
</style>
