---
import { type BasicProps, TypographyType } from './schema'
import COLORS from '@/theme/colors'

export interface Props extends BasicProps {}

interface CollectionStyle {
  lineHeight: string
  fontSize: string
  color: string
}

type CollectionStyles = {
  [key in TypographyType]?: CollectionStyle
}

const { title, type } = Astro.props

const collectionStyles: CollectionStyles = {
  [TypographyType.PRIMARY]: {
    lineHeight: '1.7rem',
    fontSize: '1rem',
    color: '#000000',
  },
  [TypographyType.TERTIARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.LIGHT_GREY,
  },
}

const selectedStyle = collectionStyles[type] as CollectionStyle
---

<p>
  {title}
</p>

<style
  define:vars={{
    lineHeight: selectedStyle.lineHeight,
    fontSize: selectedStyle.fontSize,
    color: selectedStyle.color,
  }}
>
  p {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    color: var(--color);
  }
</style>
