---
import {
  type BasicProps,
  TypographyType,
  type CollectionStyles,
  type CollectionStyle,
} from './schema'
import COLORS from '@/theme/colors'

export interface Props extends BasicProps {}

const { title, type, format } = Astro.props

const collectionStyles: CollectionStyles = {
  [TypographyType.PRIMARY]: {
    lineHeight: '1.7rem',
    fontSize: '1rem',
    color: COLORS.GREY,
  },
  [TypographyType.SECONDARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.GREY,
  },
  [TypographyType.TERTIARY]: {
    lineHeight: '1.5rem',
    fontSize: '0.875rem',
    color: COLORS.LIGHT_GREY,
  },
}

const selectedStyle = collectionStyles[type] as CollectionStyle

const elipsis = !!format?.elipsis?.lines
const nowrap = !!format?.noWrap
---

<p class:list={['paragraph', { elipsis, nowrap }]}>
  {title}
</p>

<style
  define:vars={{
    lineHeight: selectedStyle.lineHeight,
    fontSize: selectedStyle.fontSize,
    color: selectedStyle.color,
    elipsisLines: format?.elipsis?.lines,
  }}
>
  .paragraph {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    color: var(--color);
  }

  .elipsis {
    display: -webkit-box;
    -webkit-line-clamp: var(--elipsisLines);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .nowrap {
    text-wrap: nowrap;
  }
</style>
