---
import { IconsMapperName } from '@/constants/Icon'
import { TypographyType } from '@/shared/typography/schema'
import LinkIcon, { type Props as LinkIconProps } from './LinkIcon.astro'
import type { ProjectLink } from '@/models/project'

interface Props {
  links: ProjectLink[]
  exclude?: {
    paragraph: boolean
  }
}

const { links, exclude } = Astro.props

const gap = exclude?.paragraph ? "0.5rem" : "1.25rem"
---

<>
  <div>
    {
      links.map((link) => {
        const linkIconsProps: LinkIconProps = {
          icon: {
            name: link.icon,
          },
          link: {
            href: link.href,
            newTab: true,
          },
          ...(!exclude?.paragraph && {
            paragraph: {
              title: IconsMapperName[link.icon],
              type: TypographyType.TERTIARY,
            },
          }),
        }
  
        return <LinkIcon {...linkIconsProps} />
      })
    }
  </div>
</>

<style define:vars={{ gap }}>
  div {
    display: flex;
    gap: var(--gap);
  }
</style>
