---
import Education from './components/Education.astro'
import Projects from './components/Projects.astro'
import LineDivider from '@/shared/LineDivider.astro'
import Experience from './components/Experience.astro'
---

<div>
  <main>
    <Experience />
  </main>

  <article>
    <section>
      <Projects />
    </section>
    <LineDivider />
    <section>
      <Education />
    </section>
  </article>
</div>

<style>
  div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;

    @media screen and (max-width: 830px) {
      grid-template-columns: 1fr;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
