---
import { Icon as IconComponet } from 'astro-icon/components'
import COLORS from '@/theme/colors'
import { ICONS } from '@/constants/Icon'

export interface Props {
  name: ICONS
  size?: string,
  color?: string
}

const { name, size = '1rem', color = COLORS.LIGHT_GREY } = Astro.props
---
<div>
  <IconComponet name={name} class='icon' />
</div>

<style define:vars={{ size, color }}>
  .icon {
    color: var(--color);
    font-size: var(--size);
  }

  div {
    height: var(--size);
  }
</style>
